/*선택자(selector)*/
.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
  display: none;
}

#header-center {
  margin: 0 auto;
  width: 1080px;
}
#header-search h1 {
  width: 198px;
  height: 48px;
  display: inline-block;
  background: url(./sp_search.png) -4px -12px no-repeat; /*아래 3가지를 하나로 합친것*/
  /*
  background-position: -4px -12px; 
  background-image: url(./sp_search.png);
  background-repeat : no-repeat; 
  이건 반복 시키지 않는것 반복되는경우 -> 그림의 크기보다 더 큰 범위를 설정해주었을때 반복현상 나온다.*/
}
#header-search h1 span {
  display: none;
}

#header-search fieldset {
  margin-left: 20px;
  padding: 12px 0 12px 10px; /*위 오른쪽 아래 왼쪽 순으로 들어간다*/
  border: 2px solid #03cf5d; /*똑같으면 한번에 설정해준다.*/
  width: 520px;
  height: 49px;
  display: inline-block;
}
