/*1순위 id 2순위 class 3순위 그냥 태그
순위가 같을경우 아래께 적용된다
같은 클래스를 여러번 붙여서 사용 할 수 있다.
!important를 사용하면 우선수위 무시하고 바로 적용된다.*/
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
  display: none;
}

.center-align {
  margin: 0 auto;
  width: 1080px;
}
#header-search h1 {
  width: 198px;
  height: 48px;
  display: inline-block;
  background: url(./sp_search.png) -4px -12px no-repeat;
  vertical-align: middle;
  position: relative;
  top: -17px;
}
#header-search h1 span {
  display: none;
}

#header-search fieldset {
  margin-left: 20px;
  padding: 12px 0 12px 10px;
  border: 2px solid #03cf5d;
  width: 521px;
  height: 49px;
  display: inline-block;
  position: relative;
}

#header-search fieldset input {
  width: 405px;
  height: 23px;
  border: none;
  padding: 0;
  outline: none;
  vertical-align: top;
}

#header-search fieldset button {
  width: 49px;
  height: 49px;
  border: none;
  padding: 0;
  background: #03cf5d;
  position: absolute;
  right: -2px;
  top: -2px;
}

#search-image {
  background-image: url(./sp_search.png);
  background-position: -3px -60px;
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
  display: inline-block;
  margin: 14px;
}

.fixed {
  position: fixed;
  top: 50px;
  left: 50px;
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
}

nav li span:first-child {
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  background-image: url(./sp_nav.png);
  margin-left: 14px;
}

nav li:first-child span:first-child {
  width: 25px;
  background-position: 0px -285px;
  margin-left: 0px;
}

nav li:nth-child(2) span:first-child {
  width: 27px;
  background-position: -279px -52px;
}

nav li:nth-child(3) span:first-child {
  width: 40px;
  background-position: -100px -182px;
}
nav li:nth-child(4) span:first-child {
  width: 40px;
  background-position: -101px -156px;
}
nav li:nth-child(5) span:first-child {
  width: 26px;
  background-position: -279px -156px;
}
nav li:nth-child(6) span:first-child {
  width: 25px;
  background-position: -70px -285px;
}
